@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: black;
  font-weight: 700;
  font-size: 24px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 16px;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #49c0c6;
  color: white;
  font-size: 24px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

h2 {
  font-size: 48px;
  text-align: center;
  padding-bottom: 40px;
}

.section__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__description--wrapper {
  width: 60%;
  padding: 0 24px;
}

.section__img--wrapper {
  width: 40%;
  padding: 0 24px;
}

img {
  width: 100%;
}

.section__description--para {
  font-size: 20px;
  line-height: 1.5;
  margin: 16px 0;
}

#about,
#discord,
#contact,
footer {
  padding: 48px 0;
}

/* NAVIGATION */

nav {
  height: 70px;
  background-color: #cdfdff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.nav__logo {
  width: 300px;
}

/* HEADER */

header {
  background-color: #e7d8ff;
  min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 72px;
}

.subheading {
  font-size: 40px;
  margin: 16px 0 24px 0;
}

/* ABOUT */

#about {
  background-color: #f7ffd6;
}

/* DISCORD */

#discord {
  background-color: #c7ffff;
}

/* CONTACT */

#contact {
  background-color: #d6e6ff;
}

form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 24px;
}

label {
  font-size: 24px;
}

input,
textarea {
  font-size: 20px;
  padding: 6px 12px;
  margin-bottom: 24px;
}

/* FOOTER */

footer {
  background-color: #a1f3ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  max-width: 480px;
}

.footer__links {
  padding: 16px 0 24px 0;
}

@media (max-width: 728px) {
  .row {
    flex-direction: column;
  }

  header {
    padding: 48px 0 48px 0;
  }

  .home__description {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-size: 60px;
  }

  .subheading {
    text-align: center;
    font-size: 28px;
  }

  .home__description--button {
    max-width: 240px;
  }

  .nav__links {
    display: none;
  }

  .section__description {
    flex-direction: column;
  }

  .section__description--wrapper {
    width: 100%;
  }

  .section__img--wrapper {
    width: 100%;
  }

  #discord .section__description {
    flex-direction: column-reverse;
  }

  footer {
    padding: 48px 24px;
  }

  .footer__logo {
    max-width: 360px;
  }

  .footer__link {
    padding: 0 4px;
    font-size: 18px;
  }
}
